
.mkdf-container {
    margin-top: 120px;
    margin-bottom: 120px;
}
.mkdf-blog-holder article .mkdf-post-title {
    color: slategrey;
}
.mkdf-blog-holder article .mkdf-post-excerpt-holder p {
    color: #878787;
}

p {
    color: #333;
}