@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #18b6f6;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple: #713fc2;
  --qwik-dirty-black: #1d2033;
  --qwik-dark-background: #151934;
  --qwik-dark-text: #ffffff;
}

html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
  padding: 0;
  margin: 0;
  line-height: inherit;
}

/* Sidebar */
.widget.widget_categories li span {
  font-size: 18px;
  line-height: 28px;
  color: #878787;
  font-family: "Crimson Text",serif;
  font-style: italic;
  position: relative;
  display: inline-block;
}
.widget.widget_categories li span i {
  margin-right: 8px;
}

/* Contact Us */
.mkdf-section-title-holder h3.mkdf-st-title {
  font-size: 40px;
}


/* Itinerary */
.mkdf-post-text-main ul.itinerary-list li {
  color: #222;
  line-height: 22px;
  margin-top: 10px;
}
.mkdf-post-text-main ul.itinerary-list li i {
  margin-right: 8px;
}
h6.entry-title.mkdf-post-title {
  font-size: 14px;
}
i.fas {
  margin-right: 10px;
}
ul.inclusion li span {
  color: #222;
  line-height: 28px;
}
ul.inclusion li span i {
  margin-right: 8px;
}

/* Breadcrumbs */
.breadcrumbs {
    margin-top: 20px; color: #fff; font-family: Oswald,sans-serif
}
.breadcrumbs span a {
    color: #fff;
}
.breadcrumbs span:last-child {
    color: #59815b;
}

